body {
	background-color: grey;
}	

.container {
	background-color: white;
	padding-left: 10px;
	width: 400px;
	height: 250px;
	margin: 0 auto;
	border-radius: 5px;
	border: 2px solid black;
	box-shadow: 
}

div input{
	width: 350px;
	
}

h2 {
	margin-left: 550px;
}